# OpenRouter API Key for Attar AI Chatbot
OPENROUTER_API_KEY=

# Supabase
VITE_SUPABASE_URL=https://fcjoadzhcudbctkwjiil.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjam9hZHpoY3VkYmN0a3dqaWlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2NzQ4MzMsImV4cCI6MjA5NjI1MDgzM30.fi3if27NANkTGps9j66w3KePytgKBO4J9kxZ_VDQFGs
